@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    <span class="dismiss">✕</span>
    Ha ocurrido un error inesperado.
    <a href="" class="reload">Recargar</a>
</div>